<%= provide(:title," Edition mon profil")%>
<h1 class="registrer-title">Mettre à jour votre profil</h1>
<div class="row">
  <%= form_for(@user) do |f| %>
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/error_messages'%>
    <%= f.label :name%>
    <%= f.text_field :name,class:'form-control'%>

    <%= f.label :email%>
    <%= f.email_field :email,class:'form-control'%>

    <%= f.label :password%>
    <%= f.password_field :password,class:'form-control'%>

    <%= f.label :password_confirmation, "Confirmation"%>
    <%= f.password_field :password_confirmation,class:'form-control'%>


    <%= f.submit "Sauvegarder les changementd", class:"btn btn-primary" %>
    <div class="gravatar_edit">
      <%= gravatar_for @user%>
      <a href="http://gravatar.com/emails" target="_blank">changer l'image</a>
    </div>

    <% end %>

  </div>
</div>
